body {
	margin: 0;
}

.navback {
	background-image: url("images/navback.jpg");
	height: 215px;
	width: 100%;
	position: fixed;
}

.navback-left {
	font-family: sans-serif;
	list-style: none;
	float: left;
	color: white;
	font-size: 15px;
	/*margin-left: 10px;*/
	/*padding: 10px 10px 10px 10px;*/
}

.navback-right li {
	font-family: sans-serif;
	text-decoration: none;
	list-style: none;
	float: right;
	color: white;
	font-size: 15px;
	margin: 20px 20px;
}

.navback-right a {
	text-decoration: none;
	color: white;
}

.samhead {
	color: white;
	font-size: 60px;
	text-align: center;
	padding: 60px 0px 0px 70px;
}

.samsmall {
	color: white;
	font-size: 20px;
	text-align: left;
	padding: 10px 0px 0px 500px;
}

.samtiny {
	color: #cbcaca;
	font-size: 15px;
	text-align: center;
	padding: 10px 0px 0px 790px;
}

.text {
	width: 55%;
	margin: auto;
	padding-top: 220px;
}

.about {
	width: 50%;
	font-family: arial, sans-serif;
	margin: auto;
	padding-top: 220px;
}

.damage {
	background-image: url("images/lorem.jpg");
	margin: auto;
	height: 300px;
	width: 500px;
}

.blockquote {
	background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.footer {
	font-family: sans-serif;
	list-style: none;
	float: center;
	/*color: white;*/
	font-size: 15px;
	text-align: center;
	width: 65%;
	margin: auto;
	list-style: none;
}

.social-icon {
	float: center;
    vertical-align: top;
    display: inline;
    list-style: none;
}