body {
	margin: 0;
}

.navback {
	background-image: url("images/navback.jpg");
	height: 215px;
	width: 100%;
	position: fixed;
}

.navback-left {
	font-family: sans-serif;
	list-style: none;
	float: left;
	color: white;
	font-size: 15px;
	/*margin-left: 10px;*/
	/*padding: 10px 10px 10px 10px;*/
}

.navback-right li {
	font-family: sans-serif;
	text-decoration: none;
	list-style: none;
	float: right;
	color: white;
	font-size: 15px;
	margin: 20px 20px;
}

.navback-right a {
	text-decoration: none;
	color: white;
}

.samhead {
	color: white;
	font-size: 60px;
	text-align: center;
	padding: 60px 0px 0px 70px;
}

.samsmall {
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 10px 400px 0px 0px;
}

.samtiny {
	color: #cbcaca;
	font-size: 15px;
	text-align: center;
	padding: 10px 0px 0px 790px;
}

.tiny {
	color: #cbcaca;
	font-size: 15px;
	}
	
.text {
	width: 55%;
	margin: auto;
	padding-top: 220px;
}

.about {
	width: 50%;
	font-family: arial, sans-serif;
	margin: auto;
	padding-top: 220px;
}

.damage {
	background-image: url("images/lorem.jpg");
	margin: auto;
	height: 300px;
	width: 500px;
}

.usaf {
	background-image: url("images/usafsmall.jpg");
	float: right;
	height: 190px;
	width: 210px;
	margin: auto;
	border: 1px solid black;
}

.blockquote {
 	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}

.footer {
	font-family: sans-serif;
	list-style: none;
	float: center;
	/*color: white;*/
	font-size: 10px;
	font-style: italic;
	text-align: center;
	width: 65%;
	margin: auto;
	list-style: none;
}

.social-icon {
	float: center;
    vertical-align: top;
    display: inline;
    list-style: none;
}

.func {
  float: center;
  margin: 15px;
  padding: 25px;
  width: 550px;
  height: 250px;
  border: 1px solid black;
} 

.video {
  float: center;
  margin: 0 auto;
  padding: 15px;
  width: 640px;
  border: 0px solid black;
  font-family: arial, sans-serif;
  color: green;
  font-size: 16px;
}

#txtbox
    {
     height:100px;
     width:500px;
    }
textarea,
input[type=text] {
    font-family:Arial;
}